/*
  Autores:
            Douglas Tebas,
            Ricardo Metring,
            Daniel Pederneras
*/

@import 'bootstrap.scss';
@import 'font-awesome.scss';

body {
	font-family: "Open Sans";
	-webkit-font-smoothing: antialiased;
}


/* ------ Navbar ------ */
.navbar {
	background: #FFFFFF;
	border-bottom: none;
	padding: 10px 0px;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.1);

	.navbar-toggle {
		border: 0;
		padding: 2px;

		i {
			font-size: 28px;
			color: #333;
		}
	}

	.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
		background: #FFFFFF;

		i {
			color: #999;
		}
	}
}


/* ------ Slideshow ------ */
.slider {
	padding-top: 70px;
	padding-bottom: 0px;

	.slide {
		width: 100%;
		height: 300px;
		max-height: 300px;

		h1 {
			display: inline-block;
			padding: 5px 15px;
			color: #FFF;
			font-weight: 600;
			font-size: 3.5em;
			background: rgba(0, 0, 0, 0.3);
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

		}

		h2 {
			display: inline-block;
			padding: 15px 15px;
			color: #FFF;
			font-weight: 200;
			font-size: 1.7em;
			background: rgba(0, 0, 0, 0.3);
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

		}
	}
}

/* ------ Rodapé ------ */
footer {
	padding-top: 30px;
	font-weight: 400;
	background: #333333;
	color: #DDDDDD;

	.footer-menu {
		font-size: 1.1em;
		list-style: none;
		padding: 0;
		margin: 20px 0 0 0;

		.title {
			color: #FFF;
			font-size: 1.1em;
			font-weight: bold;
			margin: 0px 0px 20px 0px;
		}

		li {
			margin: 4px 0px;
			a {
				color: #FFF;
				text-decoration: underline;
			}
		}
	}

	.copyright {
		padding: 1.4em 0;
		background: #1A1A1A;

		.social-media {

			display: inline-block;
			width: 32px;
			height: 32px;
			border: 2px solid rgba(255, 255, 255, 0.3);

			border-radius: 16px;
			text-align: center;
			font-size: 19px;
			line-height: 28px;
			margin: 0px 4px 0px 4px;

			padding-top: 1px;
			transition: 0.3s;
			color: #999;
		}

		.social-media:hover {
			color: #FFFFFF !important;
			border: 2px solid rgba(255, 255, 255, 1);
		}
	}
}

.dropdown, .open {
	.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle:visited {
		background: #FFF !important;
		box-shadow: none;
		-webkit-box-shadow: none;
		outline: 0;
	}

	.dropdown-menu {
		li {
			a {
				padding: 8px 6px 8px 10px;
			}
		}
	}
}




/* ------ Addon ------ */
/* Tipografia */
.normal {
	font-weight: normal;
}
.bold {
	font-weight: 600;
}
/* Cores */
.white {
	color: #FFFFFF;
}
.darkGray {
	color: #444;
}

/* Margens */
.top-buffer-10 {
	margin-top: 10px !important;
}
.top-buffer-20 {
	margin-top: 20px !important;
}
.top-buffer-30 {
	margin-top: 30px !important;
}
.top-buffer-40 {
	margin-top: 40px !important;
}
